* {
    margin: 0;
    padding: 0;
  }

  header {
    position: fixed;
    width: 100%;
    z-index: 9999;
  }
  
  body {
    box-sizing: border-box;
    background-color: #d3d0d0;
    display: flex;
    flex-direction: column;
  }
  
  /* NAV STYLING */
  
  .nav-container {
    background-color: #5a786b;
    height: 65px;
    color: white;
    padding: 10px;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    margin: 0 5rem;
  }
  
  nav ul li {
    display: inline-block;
    margin: 0 1rem;
    color: white;
  }
  
  nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
  }
  
  nav ul li a:visited {
    color: white;
  }
  
  .header-link {
    color: white;
    text-decoration: underline overline;
  }
  
  /* Image Styling */

  #image_list {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  
  #image_list ul {
    display: flex;
  }
  
  #image_list ul li {
    list-style-type: none;
    flex-direction: column;
    justify-content: center;
  }
  
  #image_list img {
    height: 300px;
    width: 350px;
    border-radius: 10px;
    margin: 1rem;
    border-style: solid;
  }
  
/* Homepage Styling */

.home-container {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  align-items: center;
  text-align: center;
  height: auto;
  color:rgb(27, 53, 68);
}

.home-header {
  font-size: 25px;
  padding-top:80px;
}

.meditation-block {
  display:flex;
  flex-direction: column;
  justify-content: center;
  padding-top:5%;
  padding-bottom: 5%;
}

.movement-block {
  display: flex;
  flex-direction: column;
  padding-top: 5%;
  padding-bottom: 5%;
  justify-content: center;

}
.music-block {
  display:flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 5%;
  padding-top: 5%;
}

/* About Page Styling */
  
  .about-container {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    align-items: center;
    text-align: center;
    color:rgb(27, 53, 68);
    margin-bottom: 2rem;
  }
  
  .about-header {
    padding-top: 80px;
    margin-bottom: 2rem;
    font-size: 2rem;
  }
  
  .about {
    width: 50%;
  }
  
  #about-image img {
    height: 350px;
    width: 350px;
    border-radius: 10px;
    border-style: solid;
    margin: 2rem;
  } 

  /* Contact Page Styling */
  
  #contact-container {
    display: flex;
    flex-direction: column;
    width:100%;
    margin-top: 2rem;
    text-align: center;
    align-items: center;
    color:rgb(27, 53, 68);
  }
  
  #contact-container h2 {
    font-size: 30px;
    padding-top: 80px;
    margin-bottom: 1rem;
  }
  
  #contact-container p {
    padding:2rem;
    justify-content: center;
  }
  
  #contact-container ul {
    list-style-type: none;
  }
  
  #owner-container {
    margin-right: 1rem;
    align-items: center;
    justify-content: center;
    width: 500px;
  }

/*Input Styling*/
  .input-container {
    padding:1rem;
    border:0.25rem;
    border-style: solid;
    width: 50%;
    align-items: center;
  }

  .input-home {
    padding:1rem;
    border:0.25rem;
    border-style: solid;
    align-items: center;
    margin-bottom:3rem;
  }

  .title {
    display:flex;
    padding:1rem;
    justify-content: center;
    text-align: center;
    font-size:30px;
  }

  #add-email {
      padding: 2px;
  }

  .input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 8px;
    display: flex;
    box-sizing: border-box;
  }

  #submit-button {
    width:50%;
    padding: 5px 5px;
    margin-bottom: 2rem;
  }

/* Divider Stylin */
  .divider {
    display:flex;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
    
/* Footer Styling */
  
  .footer-container {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #0f0f0e;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    
  }
  
/* Media */
  
  @media only screen and (max-width: 1080px) {
    nav {
      display: flex;
      flex-direction: column;
    }
  
  
    #image_list ul {
      display: flex;
      flex-direction: column;
      margin-right: 1.5rem;
    }
  
    #contact-container {
      display: flex;
      flex-direction: column;
    }
  }

