

* {
    margin: 0;
    padding: 0;
  }
  
  body {
    box-sizing: border-box;
    background-color: #d3d0d0;
    display: flex;
    flex-direction: column;
  }
  
  /* NAV STYLING */
  
  .nav-container {
    background-color: #5a786b;
    width: inherit;
    height: 65px;
    color: white;
    padding: 10px;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    margin: 0 5rem;
  }
  
  nav ul li {
    display: inline-block;
    margin: 0 1rem;
    color: white;
  }
  
  nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
  }
  
  nav ul li a:visited {
    color: white;
  }
  
  .header-link {
    color: white;
    text-decoration: underline overline;
  }
  
  /* Image Styling */

  #image_list {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  
  #image_list ul {
    display: flex;
  }
  
  #image_list ul li {
    list-style-type: none;
  }
  
  #image_list img {
    height: 300px;
    width: 350px;
    border-radius: 10px;
    margin-left: 2rem;
    margin-bottom: rem;
  }
  
/* Homepage Styling */

.home-container {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  align-items: center;
  text-align: center;
  height: auto;
}

.home-header {
  font-size: 35px;
  margin-bottom: 2rem;
  color:rgb(27, 53, 68);
}
.meditation-block {
  display:flex;
  justify-content: center;
  padding-bottom: 10%;
}

.movement-block {
  display:flex;
  justify-content: center;
  padding-bottom: 10%;
}
.music-block {
  display:flex;
  justify-content: center;
  padding-bottom: 10%;
}

  /* About Page Styling */
  
  .about-container {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    align-items: center;
    text-align: center;
  }
  
  .about-header {
    margin-bottom: 2rem;
    font-size: 2rem;
  }
  
  .about {
    width: 35%;
  }
  
  /* Contact Page Styling */
  
  #contact-container {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    text-align: center;
    align-items: center;
  
  }
  
  #contact-container h2 {
    margin-bottom: 2rem;
    color:rgb(27, 53, 68);
  }
  
  #contact-container p {
    margin-bottom: 2rem;
    color:rgb(27, 53, 68);
  }
  
  #contact-container ul {
    list-style-type: none;
  }
  
  #contact-container ul li {
    margin-bottom: 1rem;
  }
  
  #owner-container {
    margin-right: 1rem;
    width: 500px;
  }
  
  #paragraph {
    display:flex;
    padding-left: 10%;
    padding-right: 10%;
    flex-direction:column;
    align-items: center;
    text-align:center;

  }
  
  /* Footer Styling */
  
  .footer-container {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #0f0f0e;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  /* Media */
  
  @media only screen and (max-width: 768px) {
    nav {
      display: flex;
      flex-direction: column;
    }
  
  
    #image_list ul {
      display: flex;
      flex-direction: column;
      margin-right: 1.5rem;
    }
  
    #contact-container {
      display: flex;
      flex-direction: column;
    }
  }